@import "tailwindcss";

/* IMPORTANT: let React control background */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Optional global font */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
